# COGS108 Predictor Information

In [1]:
import pandas as pd
import numpy as np

In [9]:
#Main Dataframes
df_orders = pd.read_csv('../instacart-market-basket-analysis/orders.csv')
df_prod_p = pd.read_csv('../instacart-market-basket-analysis/order_products__prior.csv')

In [23]:
def group_orders_by_uid(uid):
    associated_oid = list(df_orders.loc[(df_orders['user_id'] == uid) & (df_orders['eval_set'] == 'prior')]['order_id'])
    master = pd.DataFrame()
    for oid in associated_oid:
        master = master.append(df_prod_p.loc[df_prod_p['order_id'] == oid])
    return master

def user_data():
    user_count = dict()
    for i, row in df_orders.iterrows():
        uid = df_orders.loc[i, 'user_id']
        if user_count.get(uid) == None:
            user_count[uid] = 1
        else:
            user_count[uid] = (user_count[uid] + 1)
    return user_count

In [24]:
user_data_dict = user_data()

In [25]:
pd.DataFrame(user_data_dict,columns=["user_id","number of orders placed"])

ValueError: If using all scalar values, you must pass an index

In [39]:
def group_orders_by_uid(uid):
    associated_oid = list(df_orders.loc[(df_orders['user_id'] == uid) & (df_orders['eval_set'] == 'prior')]['order_id'])
    master = pd.DataFrame()
    for oid in associated_oid:
        master = master.append(df_prod_p.loc[df_prod_p['order_id'] == oid])
    return master

In [40]:
group_orders_by_uid(2)

          order_id  product_id  add_to_cart_order  reordered
20554981   2168274       32792                  1          0
20554982   2168274       47766                  2          0
20554983   2168274       20574                  3          0
20554984   2168274       12000                  4          0
20554985   2168274       48110                  5          0
20554986   2168274       22474                  6          0
20554987   2168274       16589                  7          0
20554988   2168274       35917                  8          0
20554989   2168274       27344                  9          0
20554990   2168274       30489                 10          0
20554991   2168274       27966                 11          0
20554992   2168274       13176                 12          0
20554993   2168274       45066                 13          0
14228906   1501582       16797                  1          0
14228907   1501582       47526                  2          0
14228908   1501582        8479                  3          0
14228909   1501582       47766                  4          1
14228910   1501582       19051                  5          0
14228911   1501582        8138                  6          0
18027616   1901567       47766                  1          1
18027617   1901567       32792                  2          1
18027618   1901567       20574                  3          1
18027619   1901567        7781                  4          0
18027620   1901567       28874                  5          0
6992648     738281       49451                  1          0
6992649     738281       32792                  2          1
6992650     738281       32139                  3          0
6992651     738281       34688                  4          0
6992652     738281       36735                  5          0
6992653     738281       37646                  6          0
...            ...         ...                ...        ...
30210665   3186735       33754                 15          1
30210666   3186735       16589                 16          1
30210667   3186735       36287                 17          0
30210668   3186735       42356                 18          0
30210669   3186735       12258                 19          0
30987474   3268552       42342                  1          0
30987475   3268552       30908                  2          0
30987476   3268552          79                  3          0
30987477   3268552        5869                  4          0
30987478   3268552       44303                  5          0
30987479   3268552       16521                  6          0
30987480   3268552       39877                  7          0
30987481   3268552       19057                  8          0
30987482   3268552       45948                  9          0
7955628     839880       24852                  1          1
7955629     839880       16589                  2          1
7955630     839880        1559                  3          1
7955631     839880       19156                  4          1
7955632     839880       18523                  5          1
7955633     839880       22825                  6          0
7955634     839880       27413                  7          0
7955635     839880       33754                  8          1
7955636     839880       21709                  9          1
7955637     839880       47209                 10          1
7955638     839880        7781                 11          1
7955639     839880        2573                 12          1
7955640     839880       39928                 13          0
7955641     839880       20785                 14          0
7955642     839880       24768                 15          0
7955643     839880        7963                 16          0

[195 rows x 4 columns]

In [30]:
print(df_orders.shape)
reduced = list(df_orders.drop_duplicates(subset="user_id")["user_id"])
print(len(reduced))
u_count = dict()
for uid in reduced:
    associated_oid = list(df_orders.loc[(df_orders['user_id'] == uid)])
    u_count[uid] = len(associated_oid)

(3421083, 7)
206209

KeyboardInterrupt: