Part 2 Data Wrangling

In [49]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import patsy
import statsmodels.api as sm
import os
from IPython.display import display_html
#def display_side_by_side(*args):
#    html_str=''
#    for df in args:
#        html_str+=df.to_html()
#    display_html(html_str.replace('table','table style="display:inline"'),raw=True)
from IPython.core.display import HTML

def multi_table(table_list):
    ''' Acceps a list of IpyTable objects and returns a table which contains each IpyTable in a cell
    '''
    return HTML(
        '<table><tr style="background-color:white;">' + 
        ''.join(['<td>' + table._repr_html_() + '</td>' for table in table_list]) +
        '</tr></table>'
    )

In [34]:
# Read in our file of data
df = pd.read_csv("2012-18_officialBoxScore.csv")

In [35]:
# Break up data frame to just the dates, team result, team free throws
DateRsltFta = df[['gmDate', 'teamRslt', 'teamFTA', 'opptFTA']]

wins = DateRsltFta[DateRsltFta['teamRslt'] == 'Win']
loss = DateRsltFta[DateRsltFta['teamRslt'] == 'Loss']

# Break up dataframes for each season
mask1213 = (DateRsltFta['gmDate'] >= '2012-10-30') & (DateRsltFta['gmDate'] <= '2013-04-17')
season1213 = DateRsltFta.loc[mask1213]

mask1314 = (DateRsltFta['gmDate'] >= '2013-10-29') & (DateRsltFta['gmDate'] <= '2014-04-16')
season1314 = DateRsltFta.loc[mask1314]

mask1415 = (DateRsltFta['gmDate'] >= '2014-10-28') & (DateRsltFta['gmDate'] <= '2015-04-15')
season1415 = DateRsltFta.loc[mask1415]

mask1516 = (DateRsltFta['gmDate'] >= '2015-10-27') & (DateRsltFta['gmDate'] <= '2016-04-13')
season1516 = DateRsltFta.loc[mask1516]

mask1617 = (DateRsltFta['gmDate'] >= '2016-10-25') & (DateRsltFta['gmDate'] <= '2017-04-12')
season1617 = DateRsltFta.loc[mask1617]

mask1718 = (DateRsltFta['gmDate'] >= '2017-10-17') & (DateRsltFta['gmDate'] <= '2018-04-11')
season1718 = DateRsltFta.loc[mask1718]

In [36]:
# Break up data frame to see which team shot more free throws

# Season 2012-2013
moreFTA1213 = season1213[season1213['teamFTA'] > season1213['opptFTA']]
moreFTA1213.drop_duplicates( keep='first',inplace=True) 
sumMoreFTA1213Win = sum(moreFTA1213['teamRslt'] == 'Win')
sumMoreFTA1213Loss = sum(moreFTA1213['teamRslt'] == 'Loss')

# Season 2013-2014
moreFTA1314 = season1314[season1314['teamFTA'] > season1314['opptFTA']]
moreFTA1314.drop_duplicates( keep='first',inplace=True) 
sumMoreFTA1314Win = sum(moreFTA1314['teamRslt'] == 'Win')
sumMoreFTA1314Loss = sum(moreFTA1314['teamRslt'] == 'Loss')

# Season 2014-2015
moreFTA1415 = season1415[season1415['teamFTA'] > season1415['opptFTA']]
moreFTA1415.drop_duplicates( keep='first',inplace=True) 
sumMoreFTA1415Win = sum(moreFTA1415['teamRslt'] == 'Win')
sumMoreFTA1415Loss = sum(moreFTA1415['teamRslt'] == 'Loss')

# Season 2015-2016
moreFTA1516 = season1516[season1516['teamFTA'] > season1516['opptFTA']]
moreFTA1516.drop_duplicates( keep='first',inplace=True) 
sumMoreFTA1516Win = sum(moreFTA1516['teamRslt'] == 'Win')
sumMoreFTA1516Loss = sum(moreFTA1516['teamRslt'] == 'Loss')

# Season 2016-2017
moreFTA1617 = season1617[season1617['teamFTA'] > season1617['opptFTA']]
moreFTA1617.drop_duplicates( keep='first',inplace=True)
sumMoreFTA1617Win = sum(moreFTA1617['teamRslt'] == 'Win')
sumMoreFTA1617Loss = sum(moreFTA1617['teamRslt'] == 'Loss')

# Season 2017-2018
moreFTA1718 = season1718[season1718['teamFTA'] > season1718['opptFTA']]
moreFTA1718.drop_duplicates( keep='first',inplace=True) 
sumMoreFTA1718Win = sum(moreFTA1718['teamRslt'] == 'Win')
sumMoreFTA1718Loss = sum(moreFTA1718['teamRslt'] == 'Loss')

C:\Users\zhaoy\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\zhaoy\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\zhaoy\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\zhaoy\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\zhaoy\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\zhaoy\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [85]:
# NBA Team Ranings 2012 - 2013

rank1 = pd.read_csv('12-13_Standing.csv')
rank1 = rank1.sort_values(by=['RANK'], ascending=True)
rank2 = pd.read_csv('13-14_Standing.csv')
rank2 = rank2.sort_values(by=['RANK'], ascending=True)
rank3 = pd.read_csv('14-15_Standing.csv')
rank3 = rank3.sort_values(by=['RANK'], ascending=True)
rank4 = pd.read_csv('15-16_Standing.csv')
rank4 = rank4.sort_values(by=['RANK'], ascending=True)
rank5 = pd.read_csv('16-17_Standing.csv')
rank5 = rank5.sort_values(by=['RANK'], ascending=True)
rank6 = pd.read_csv('17-18_Standing.csv')
rank6 = rank6.sort_values(by=['RANK'], ascending=True)

In [86]:
# Drop one of the duplicate column for each season

rank1 = rank1.drop(['RANKORD'], axis = 1)
rank2 = rank2.drop(['RANKORD'], axis = 1)
rank3 = rank3.drop(['RANKORD'], axis = 1)
rank4 = rank4.drop(['RANKORD'], axis = 1)
rank5 = rank5.drop(['RANKORD'], axis = 1)
rank6 = rank6.drop(['RANKORD'], axis = 1)

In [87]:
# display data table 2012 - 13, 2013 - 14
display_side_by_side(rank1, rank2)

,SEASON,TEAM,RANK,WIN,LOST
20,2012-13,OKC,1,60,22
15,2012-13,MIA,1,66,16
25,2012-13,SA,2,58,24
19,2012-13,NY,2,54,28
7,2012-13,DEN,3,57,25
11,2012-13,IND,3,49,32
14,2012-13,MEM,4,56,26
1,2012-13,BKN,4,49,33
12,2012-13,LAC,4,56,26
4,2012-13,CHI,5,45,37
0,2012-13,ATL,6,44,38
9,2012-13,GS,6,47,35
13,2012-13,LAL,7,45,37
2,2012-13,BOS,7,41,40
10,2012-13,HOU,7,45,37
16,2012-13,MIL,8,38,44
27,2012-13,TOR,9,34,48
28,2012-13,UTA,9,43,39
22,2012-13,PHI,9,34,48
6,2012-13,DAL,10,41,41
24,2012-13,POR,11,33,49
29,2012-13,WAS,11,29,53
8,2012-13,DET,11,29,53
17,2012-13,MIN,12,31,51
5,2012-13,CLE,13,24,58
26,2012-13,SAC,13,28,54
18,2012-13,NO,14,27,55
3,2012-13,CHA,14,21,61
23,2012-13,PHO,15,25,57
21,2012-13,ORL,15,20,62
,SEASON,TEAM,RANK,WIN,LOST
24,2013-14,SA,1,62,20
10,2013-14,IND,1,56,26
14,2013-14,MIA,2,54,28
19,2013-14,OKC,2,59,23
26,2013-14,TOR,3,48,34
3,2013-14,CHI,3,48,34
11,2013-14,LAC,3,57,25
23,2013-14,POR,4,54,28
9,2013-14,HOU,4,54,28
0,2013-14,BKN,5,44,38
28,2013-14,WAS,5,44,38
8,2013-14,GS,6,51,31
2,2013-14,CHA,7,43,39
13,2013-14,MEM,7,50,32
5,2013-14,DAL,8,49,33
18,2013-14,NY,9,37,45
22,2013-14,PHO,9,48,34
16,2013-14,MIN,10,40,42
4,2013-14,CLE,10,33,49
6,2013-14,DEN,11,36,46
7,2013-14,DET,11,29,53
17,2013-14,NO,12,34,48
1,2013-14,BOS,12,25,57
20,2013-14,ORL,13,23,59
25,2013-14,SAC,13,28,54
12,2013-14,LAL,14,27,55
21,2013-14,PHI,14,19,63
15,2013-14,MIL,15,15,67
27,2013-14,UTA,15,25,57

In [88]:
# display data table 2014 - 15, 2015 - 16
display_side_by_side(rank3, rank4)

,SEASON,TEAM,RANK,WIN,LOST
0,2014-15,ATL,1,60,22
9,2014-15,GS,1,67,15
12,2014-15,LAC,2,56,26
5,2014-15,CLE,2,53,29
10,2014-15,HOU,2,56,26
4,2014-15,CHI,3,50,32
27,2014-15,TOR,4,49,33
25,2014-15,SA,4,55,27
14,2014-15,MEM,4,55,27
29,2014-15,WAS,5,46,36
16,2014-15,MIL,6,41,41
24,2014-15,POR,6,51,31
6,2014-15,DAL,7,50,32
2,2014-15,BOS,7,40,42
11,2014-15,IND,8,38,44
1,2014-15,BKN,8,38,44
18,2014-15,NO,8,45,37
20,2014-15,OKC,8,45,37
15,2014-15,MIA,10,37,45
23,2014-15,PHO,10,39,43
3,2014-15,CHA,11,33,49
28,2014-15,UTA,11,38,44
7,2014-15,DEN,12,30,52
8,2014-15,DET,12,32,50
21,2014-15,ORL,13,25,57
26,2014-15,SAC,13,29,53
13,2014-15,LAL,14,21,61
22,2014-15,PHI,14,18,64
17,2014-15,MIN,15,16,66
19,2014-15,NY,15,17,65
,SEASON,TEAM,RANK,WIN,LOST
5,2015-16,CLE,1,57,25
9,2015-16,GS,1,73,9
27,2015-16,TOR,2,56,26
25,2015-16,SA,2,67,15
0,2015-16,ATL,3,48,34
2,2015-16,BOS,3,48,34
3,2015-16,CHA,3,48,34
20,2015-16,OKC,3,55,27
15,2015-16,MIA,3,48,34
12,2015-16,LAC,4,53,29
24,2015-16,POR,5,44,38
14,2015-16,MEM,6,42,40
6,2015-16,DAL,6,42,40
11,2015-16,IND,7,45,37
10,2015-16,HOU,8,41,41
8,2015-16,DET,8,44,38
28,2015-16,UTA,9,40,42
4,2015-16,CHI,9,42,40
26,2015-16,SAC,10,33,49
7,2015-16,DEN,10,33,49
29,2015-16,WAS,10,41,41
21,2015-16,ORL,11,35,47
18,2015-16,NO,12,30,52
16,2015-16,MIL,12,33,49
17,2015-16,MIN,13,29,53
19,2015-16,NY,13,32,50
23,2015-16,PHO,14,23,59
1,2015-16,BKN,14,21,61
22,2015-16,PHI,15,10,72
13,2015-16,LAL,15,17,65

In [89]:
# display data table 2016 - 17, 2017 - 18
display_side_by_side(rank5, rank6)

,SEASON,TEAM,RANK,WIN,LOST
2,2016-2017,BOS,1,53,29
9,2016-2017,GS,1,67,15
27,2016-2017,TOR,2,51,31
25,2016-2017,SA,2,61,21
5,2016-2017,CLE,2,51,31
10,2016-2017,HOU,3,55,27
29,2016-2017,WAS,4,49,33
28,2016-2017,UTA,4,51,31
12,2016-2017,LAC,4,51,31
0,2016-2017,ATL,5,43,39
11,2016-2017,IND,6,42,40
20,2016-2017,OKC,6,47,35
16,2016-2017,MIL,6,42,40
14,2016-2017,MEM,7,43,39
24,2016-2017,POR,8,41,41
4,2016-2017,CHI,8,41,41
15,2016-2017,MIA,8,41,41
7,2016-2017,DEN,9,40,42
18,2016-2017,NO,10,34,48
8,2016-2017,DET,10,37,45
6,2016-2017,DAL,11,33,49
3,2016-2017,CHA,11,36,46
26,2016-2017,SAC,12,32,50
19,2016-2017,NY,12,31,51
21,2016-2017,ORL,13,29,53
17,2016-2017,MIN,13,31,51
13,2016-2017,LAL,14,26,56
22,2016-2017,PHI,14,28,54
23,2016-2017,PHO,15,24,58
1,2016-2017,BKN,15,20,62
,SEASON,TEAM,RANK,WIN,LOST
27,2017-18,TOR,1,59,23
10,2017-18,HOU,1,65,17
2,2017-18,BOS,2,55,27
9,2017-18,GS,2,58,24
22,2017-18,PHI,3,52,30
24,2017-18,POR,3,49,33
20,2017-18,OKC,4,48,34
5,2017-18,CLE,4,50,32
18,2017-18,NO,4,48,34
28,2017-18,UTA,4,48,34
11,2017-18,IND,5,48,34
16,2017-18,MIL,6,44,38
15,2017-18,MIA,6,44,38
25,2017-18,SA,7,47,35
17,2017-18,MIN,7,47,35
29,2017-18,WAS,8,43,39
8,2017-18,DET,9,39,43
7,2017-18,DEN,9,46,36
3,2017-18,CHA,10,36,46
12,2017-18,LAC,10,42,40
19,2017-18,NY,11,29,53
13,2017-18,LAL,11,35,47
1,2017-18,BKN,12,28,54
26,2017-18,SAC,12,27,55
6,2017-18,DAL,13,24,58
4,2017-18,CHI,13,27,55
14,2017-18,MEM,14,22,60
21,2017-18,ORL,14,25,57
23,2017-18,PHO,15,21,61
0,2017-18,ATL,15,24,58